<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orbekk.same.android"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SameControllerActivity"/>
        <activity android:name=".VariableTestActivity"/>
        <activity android:name=".StateViewerActivity"/>
        <activity android:name=".GraphicsActivity"/>
        <activity android:name="com.orbekk.same.android.benchmark.RepeatedSetVariableActivity"/>
        <activity android:name="com.orbekk.same.android.benchmark.Experiment1Activity"/>
        <activity android:name="com.orbekk.same.android.benchmark.ExampleProtobufServerActivity"/>
        <activity android:name="com.orbekk.same.android.benchmark.ExampleHttpServerActivity"/>
        <service  android:name=".SameService" android:process="com.orbekk.same.android.SameService"/>
    </application>

</manifest>
